@model ErrorViewModel
@{
    Layout = "_layoutEmpty";
    ViewData["Title"] = "Error";
}
<div>
    <div class="row text-center justify-content-center align-items-center">
        <span class="text-uppercase fw-bold text-black lh-1" style="font-size: 10rem; z-index: -1;">Eita!</span>

        <span class="text-uppercase fw-light text-white "
            style="line-height: 2.5rem;background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0.7) 70%, rgba(255,255,255,0) 100%);">
            <strong class="text-danger"></strong>Ocorreu um erro</span>

        <div class="row mt-3">
            <span class="text-uppercase fw-semibold">Request Id</span>
            <span class="lh-1 fw-light text-decoration-underline text-white font-monospace" style="font-size: 0.8rem ;">@Model.RequestId</span>
        </div>


        <a class="mt-3 btn btn-light text-uppercase col-3" asp-action="Index" asp-controller="Home">Voltar Para o
            Inicio</a>

    </div>
</div>