@model ViewsInfo;
@{
    ViewData["Title"] = "Projetos";
}

<div class="p-5 fade-in">
    <h1 class="fade-in text-primary text-uppercase mt-1">Projetos</h1>
    <p>Projetos concluidos e em andamento...</p>
    <div class="d-flex flex-wrap gap-4">
        <article class="project card bg-light shadow border-0 d-flex flex-wrap position-relative">
            <p class="project-badge rounded-bottom p-1 bg-success text-light fs-6 fw-bold text-uppercase">concluido</p>
            <img class="rounded-top"
                src="https://cdn.sanity.io/images/81pocpw8/production/362d333b7dccf29155490c6a383a35c553eea278-3784x1791.png"
                alt="">
            <main class="p-3 bg-light">
                <h3 class="h4">Titulo</h3>
                <h5 class="h6">Sub titulo</h5>
                <p class="fw-light fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem assumenda
                    animi, magni,
                    commodi nam
                    repellat consectetur error consequuntur voluptas neque autem? Aperiam in ipsa iure soluta, pariatur
                    aliquid
                    mollitia.</p>
                <section>
                    <button type="button" class="btn btn-primary btn-sm">Saiba mais</button>
                    <button class="btn btn-light border btn-sm">Visualizar <i
                            class="bi bi-box-arrow-up-right"></i></button>
                </section>
            </main>
        </article>
        <article class="project card bg-light shadow border-0 d-flex flex-wrap position-relative">
            <p class="project-badge rounded-bottom p-1 bg-success text-light fs-6 fw-bold text-uppercase">concluido</p>
            <img class="rounded-top"
                src="https://cdn.sanity.io/images/81pocpw8/production/362d333b7dccf29155490c6a383a35c553eea278-3784x1791.png"
                alt="">
            <main class="p-3 bg-light">
                <h3 class="h4">Titulo</h3>
                <h5 class="h6">Sub titulo</h5>
                <p class="fw-light fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem assumenda
                    animi, magni,
                    commodi nam
                    repellat consectetur error consequuntur voluptas neque autem? Aperiam in ipsa iure soluta, pariatur
                    aliquid
                    mollitia.</p>
                <section>
                    <button type="button" class="btn btn-primary btn-sm">Saiba mais</button>
                    <button class="btn btn-light border btn-sm">Visualizar <i
                            class="bi bi-box-arrow-up-right"></i></button>
                </section>
            </main>
        </article>
        <article class="project card bg-light shadow border-0 d-flex flex-wrap position-relative">
            <p class="project-badge rounded-bottom p-1 bg-success text-light fs-6 fw-bold text-uppercase">concluido</p>
            <img class="rounded-top"
                src="https://cdn.sanity.io/images/81pocpw8/production/362d333b7dccf29155490c6a383a35c553eea278-3784x1791.png"
                alt="">
            <main class="p-3 bg-light">
                <h3 class="h4">Titulo</h3>
                <h5 class="h6">Sub titulo</h5>
                <p class="fw-light fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem assumenda
                    animi, magni,
                    commodi nam
                    repellat consectetur error consequuntur voluptas neque autem? Aperiam in ipsa iure soluta, pariatur
                    aliquid
                    mollitia.</p>
                <section>
                    <button type="button" class="btn btn-primary btn-sm">Saiba mais</button>
                    <button class="btn btn-light border btn-sm">Visualizar <i
                            class="bi bi-box-arrow-up-right"></i></button>
                </section>
            </main>
        </article>
        <article class="project card bg-light shadow border-0 d-flex flex-wrap position-relative">
            <p class="project-badge rounded-bottom p-1 bg-success text-light fs-6 fw-bold text-uppercase">concluido</p>
            <img class="rounded-top"
                src="https://cdn.sanity.io/images/81pocpw8/production/362d333b7dccf29155490c6a383a35c553eea278-3784x1791.png"
                alt="">
            <main class="p-3 bg-light">
                <h3 class="h4">Titulo</h3>
                <h5 class="h6">Sub titulo</h5>
                <p class="fw-light fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem assumenda
                    animi, magni,
                    commodi nam
                    repellat consectetur error consequuntur voluptas neque autem? Aperiam in ipsa iure soluta, pariatur
                    aliquid
                    mollitia.</p>
                <form method="post">
                    <input asp-for="idProject" class="form-control" value="Iden">
                    <button type="submit" class="btn btn-primary btn-sm">Saiba mais</button>
                    <button class="btn btn-light border btn-sm">Visualizar <i
                            class="bi bi-box-arrow-up-right"></i></button>
                </form>
            </main>
        </article>
    </div>
</div>

@section Styles{
<link rel="stylesheet" href="~/css/projects.css" asp-append-version=true>
}