@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100 h-100 d-flex align-items-center position-relative">
    <div>
        <h1 class="fade-in text-invert-color text-uppercase fw-bolder m-0 fsr-2">Adrian José</h1>
        <span class="fade-in text-invert-color">Desenvolvedor Front end</span>
        <ul class="fade-in nav align-items-center p-0 gap-3 my-2">
            <li class="nav-item m-0">
                <a class="" href="https:\\github.com/adrianjpsantos" target="_blank">
                    <i class="bi bi-github text-black"></i>
                </a>
            </li>
            <li class="nav-item m-0 ">
                <a href="https:\\github.com/adrianjpsantos" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
            <li class="nav-item m-0">
                <a href="#" class="badge text-bg-primary text-decoration-none" data-bs-toggle="collapse"
                    data-bs-target="#vermais" aria-expanded="false" aria-controls="vermais">Ver mais +</a>
            </li>
        </ul>
        <div class="mt-2">
            <div class="collapse collapse-horizontal multi-collapse" id="vermais">
                <div class="text-invert-color" style="width: 250px;">
                    This is some placeholder content for a horizontal collapse. It's hidden by default and shown when
                    triggered.
                </div>
            </div>
        </div>
    </div>


    <img src="~/img/aj.png" class="fade-in position-absolute eu">
</div>
