@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<div class="d-flex flex-column w-100">
<article class="project d-flex align-items-center position-relative  p-5">
        <img class="project-img-l rounded shadow"
            src="https://cdn.sanity.io/images/81pocpw8/production/362d333b7dccf29155490c6a383a35c553eea278-3784x1791.png"
            alt="">
    <main class="bg-light rounded w-25 p-4 shadow project-card">
        <h3>Titulo</h3>
        <h5>Sub titulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem assumenda animi, magni, commodi nam
            repellat consectetur error consequuntur voluptas neque autem? Aperiam in ipsa iure soluta, pariatur aliquid
            mollitia.</p>
        <section>
            <button class="btn btn-primary">Saiba mais</button>
            <button class="btn btn-light border">Visualizar</button>
        </section>
    </main>
</article>

<article class="project d-flex align-items-center position-relative w-100 p-5">
        <img class="project-img-l rounded shadow bg-warning"
            src="https://cdn.sanity.io/images/81pocpw8/production/362d333b7dccf29155490c6a383a35c553eea278-3784x1791.png"
            alt="">
    <main class="bg-light rounded w-25 p-4 shadow project-card bg-success">
        <h3>Titulo</h3>
        <h5>Sub titulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem assumenda animi, magni, commodi nam
            repellat consectetur error consequuntur voluptas neque autem? Aperiam in ipsa iure soluta, pariatur aliquid
            mollitia.</p>
        <section>
            <button class="btn btn-primary">Saiba mais</button>
            <button class="btn btn-light border">Visualizar</button>
        </section>
    </main>
</article>
</div>